Does this thing work? probs.

<a href="/product">Go back to the home page</a>

<div style="background-color: yellow">
  <p><%= @product.price %></p>
</div>
  <div style="background-color: orange">
    <p><%= @product.name %></p>
  </div>
    <div style="background-color: lightblue">
      <p><%= @product.description %> </p>
    </div>
